APP_ENV=local
SERVICE_NAME=gtfs-processor
DATABASE_URL=jdbc:postgresql://localhost:5432/cmsfleet
DATABASE_USER=cmsfleet
DATABASE_PASSWORD=cmsfleet
INPUT_DIRECTORY=./tmp/input
OUTPUT_DIRECTORY=./tmp/output