NODE_ENV=production
APP_ENV=production
SERVICE_NAME=cmsfleet-integration-worker
CMS_CONFIG_ENV=production
CMS_CONFIG_TENANT_PROFILE=demo-city
CMS_CONFIG_TRANSPORT_PROFILE=urban-bus
CMS_CONFIG_VEHICLE_PROFILE=standard-bus-12m
CMS_CONFIG_DEVICE_PROFILE=linux-signage-unit
CMS_CONFIG_DISPLAY_PROFILE=hanover-led-3line
CMS_DATABASE_URL=postgres://cmsfleet_worker:replace-me@127.0.0.1:5432/cmsfleet
CMS_WORKER_POLL_INTERVAL_MS=5000
CMS_LOG_LEVEL=info
CMS_AUTH_BOOTSTRAP_USERS_ENABLED=false
